body
{
    text-align: center;
}
.mainTable
{
    width: 1000px;
    margin:0 auto;
    border-spacing: 0 5px;
    text-align: center;
}
.othertables
{
    margin:0 auto;
    border-spacing: 0 5px;
    text-align: center;
}
.exceeded
{
    background-color: rgba(255, 42, 35, 0.43);
}
.normal
{
    background-color: rgba(54, 255, 0, 0.22);
}
.textInput
{
    width:200px;
}
.btn
{
    width: 80px;
    margin: auto;
    vertical-align: middle;
}
.add,
.timeFilter
{
    display: inline-block;
    text-align: center;
    margin: 10px auto;
    padding: 10px;
    height: 100px;
    vertical-align: middle;
}
.editForm
{
    margin: 2px 0;
}